---
import '../styles/base.css';

const guides = [
	{ href: '/guide/', label: 'Getting started' },
	{ href: '/guide/shapes', label: 'Shapes' },
	{ href: '/guide/renderers', label: 'Renderers' },
	{ href: '/guide/filters', label: 'Filters' },
	{ href: '/guide/transformations', label: 'Transformations' },
	{ href: '/guide/hit-detection', label: 'Hit detection' },
];

const { frontmatter } = Astro.props;
const current = guides.find((guide) => guide.label == frontmatter.title);
const prev = guides.find((guide, idx) => {
	var next = guides[idx+1];
	if (next && current && next.label == current.label) {
		return true;
	}
	return false;
});
const next = guides.find((guide, idx) => {
	var prev = guides[idx-1];
	if (prev && current && prev.label == current.label) {
		return true;
	}
	return false;
});
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{frontmatter.title} -- skittle</title>
	</head>
	<body>
		<main class="flex flex-col">
			<header>
				<nav class="border-b flex gap-2 px-16">
					<a class="font-medium py-4" href="/">skittle</a>
					<span class="flex-1"></span>
					<a class="py-4" href="https://github.com/AimForNaN/skittle">GitHub</a>
				</nav>
			</header>
			<section class="flex">
				<aside class="border-r flex-shrink-0 h-screen p-16 sticky top-0 w-80">
					<nav class="flex flex-col gap-4">
						<ul class="flex flex-col gap-2">
							<li>
								<b>Guide</b>
							</li>
						{guides.map(link => (
							<li>
								<a class:list={['block transition-colors hover:text-fuchsia-700', { 'text-fuchsia-700': frontmatter.title == link.label }]} href={link.href}>{link.label}</a>
							</li>
						))}
						</ul>
					</nav>
				</aside>
				<article class="flex flex-col gap-8 max-w-4xl p-16">
					<h1>{frontmatter.title}</h1>
					<slot />
					<nav class="gap-4 grid grid-cols-2">
						{prev ?
							<a class="border flex flex-col p-4 rounded transition-colors hover:border-fuchsia-700" href={prev.href}>
								<small class="text-gray-500">Previous page</small>
								<span>{prev.label}</span>
							</a> :
							<span></span>
						}
						{next ?
							<a class="border flex flex-col p-4 rounded transition-colors text-right hover:border-fuchsia-700" href={next.href}>
								<small class="text-gray-500">Next page</small>
								<span>{next.label}</span>
							</a> :
							<span></span>
						}
					</nav>
				</article>
			</section>
		</main>
	</body>
</html>
